pre.template {
  padding: 0.5em;
  counter-reset: line;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
  line-height: 0;
}
pre.template span {
  display: block;
  line-height: 1.5em;
}
pre.template span::before {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0 0.5em;
  content: counter(line);
  counter-increment: line;
  border-right: 1px solid #ddd;
}
pre.template .line-error {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=tag-form.css.map */
